/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */

a{
    text-decoration: none;
}

.collection_description{
    margin: 0px auto 5vw auto;
    width: 611px;
    text-align: center;
    color: #9B9B9B;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    margin-bottom: 5vw;
}
#collection_title{
    color: #003366 !important;
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
}
.product_title{
    color: #003366;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    margin-bottom: 6px;
}
.product_price{
    color: #9B9B9B;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}
.product_description{
    margin-bottom: 4vw;
    width: 100%;
}
.featured_product{
    width: 21%;
    margin-left: 3vw;
}
#featured_product_container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 6vw;
}
.add_to_cart_button{
    text-align: center;
    color: #003366;
    background-color: white;
    padding: 13px 30px;
    font-weight: bold;
    width: 86%;
    position: relative;
    top: -80px;
    left: 1.36vw;
    z-index: 12;
    visibility: hidden;
}

// Show add to cart button on hover
.product_image:hover + .add_to_cart_button{
    visibility: visible;
}
.add_to_cart_button:hover{
    visibility: visible;
}

// Disabling the admin "you're previewing ...." bar

#preview-bar-iframe{
    display: none !important;
}

// Meida Queries

@media screen and (max-width: 540px){
    .collection_description{
        width: auto;
    }
    #featured_product_container{
        padding: 0px;
    }
    .collection_paragraph{
        padding: 0px 35px;
    }
    .collection_description{
        margin-bottom: 10vw;
    }
}

@media screen and (max-width: 767px){
    #featured_product_container{
        justify-content: space-evenly;
    }
    .featured_product{
        width: 40%;
        margin-left: 0px;
    }
    .add_to_cart_button{
        left: 2.36vw;
    }
}